    body {
    background-image: url("oriental-tiles.png");
    }
    
    header {
    background-color: white;
    font-family: 'Alegreya SC';
    border-bottom-style: solid;
    border-bottom-color: lightblue;
    }

    nav {
    float: right;
    font-size: 20px;
    padding: 5px;
    margin-right: 300px;
    }

    h1 {
    display: inline;
    background-color: lightblue;
    margin-left: 300px;
    padding-right: 10px;
    padding-left: 10px;
    }

    section.base {
    max-width: 800px;
    margin: auto;
    }

    article {
    float: left;
    background-color: white;
    width: 500px;
    height: 700px;
    padding: 10px;
    margin-bottom: 40px; 
    margin-top: 20px;
    }

    article img {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
    }

    aside {
    float: right;
    padding: 10px;
    background-color: white;
    margin-top: 20px;
    }

    aside img {
    float: left;
    width: 50px;
    height: 50px;
    padding: 10px;
    }

    aside h2 {
    text-align: center;
    }

    h2, p {
    font-family: 'Asap';
    }

    footer {
    clear: both;
    background-color: white;
    text-align: center;
    padding: 10px;
    border-top-style: solid;
    border-top-color: lightblue;
    }